@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
} */

/* shared style */
.display-flex{
    display: flex;
}
/* dark o2 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1)
}
.btn-primary{
   width: 180px; 
   height: 64px;
   background-color: #FF900E;
   padding: 20px 25px;
   border: none;
   border-radius: 6px;
   font-weight: 600;
   font-size: 1.25rem;
   color: #ffffff;
}
.section-title{ font-weight: 700;
    font-size: 2.8rem;}
/* header style */


/* navbar related style */
.brand{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.nav-items{
    list-style: none;
 
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
 .navbar, .banner{
   max-width: 1440px; 
    margin: 0;
    margin: auto;
   border: 2px solid rebeccapurple;
} 
 
/* banner styling */
 .banner img{
    width: 100%;
 }
 .banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;
 }
 .banner-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;

 }
 .banner-description{
    font-weight: 400;
    font-size: 1rem;
}
/* main styling */

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* team and feature related styling */
.teams{
    gap: 70px;
}
.our-features{
    text-align: center;
}
.span1{
    font-weight: 400;
    font-size: 2.8rem;
}
.span2{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.span3{
    font-weight: 700;
    font-size: 2.8rem;
    color: #FF900E;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}
/* media size device */
@media screen and (min-width:576px)
and (max-width:992px) {
   
 .teams{
        flex-direction: column;
    }
    
}